.footer-text {
  color: $footer-text-color;
  display: flex;
  justify-content: center;
}

.footer-text-svg {
  width: 14px;
  height: 13px;
  margin-left: 10px;
}

.footer-text-second-part {
  margin-left: 10px;
}

.footer-text-link {
  margin-left: 5px;
  text-decoration: underline;
}

.footer-text-link {
  color: $footer-text-color;
}

.team__member-photo {
  width: 110px;
  height: 100px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list__item {
  margin-left: 30px;
  align-items: center;
  flex-basis: calc((100% - 15px) / 6);
  max-width: 110px;
  padding-bottom: 30px;
}

.team-list__container {
  padding-top: 30px;
  align-items: center;
}

.social-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  fill: #757575;
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
