.search-film {
  position: relative;
  background: inherit;
  border: inherit;
  cursor: pointer;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.search-icon {
  width: 12px;
  height: 12px;
}

.site-logo-list {
  display: flex;
  align-items: baseline;
}

.site-logo-label {
  display: none;
  margin-left: 10px;

  @media screen and (min-width: 768px) {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }
}

.site-logo-link {
  color: $header-text-color;
}

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}

.site-nav-item:not(:first-child) {
  margin-left: 40px;
}

.site-nav-item {
  position: relative;
}

.site-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
  height: 3px;
  background-color: $secondary-text-color;
  //   border-radius: 2px;
}



.site-nav-link {
  color: $header-text-color;
}

.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}



.header-container {
  
  height: 230px;
  padding-top: 46px;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    padding-top: 41px;
    max-width: 768px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}



.header-main-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mob-home-2x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  
  @media screen and (min-width: 630px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tab-home-2x-min.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desc-home-2x-min.jpg);
  }
}

.header-secondary-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mob-queue-2x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
  background-size: cover;
  @media screen and (min-width: 630px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tab-queue-2x-min.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desc-queue-2x-min.jpg);
  }
}

.smth-wrong-container {
  display: flex;
  justify-content: center;
}

.smth-wrong {
  color: #ff001b;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
}

input[type='search'] {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  color: $header-text-color;
  background-color: inherit;
  border: none;
  outline: none;
  width: 253px;
  @media screen and (min-width: 768px) {
    width: 309px;
  }
}
input[type='search']::placeholder {
  color: $header-text-color;
}

.search-form {
  width: 100%;
  height: 20px;
  border-bottom: 0.5px solid $header-text-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
  margin-bottom: 22px;
  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 37px;
    width: 336px;
  }
}

.header-is-hidden {
  display: none;
}

.header-library-btns {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.library-btn:not(:first-child) {
  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
}

.library-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;
  text-transform: uppercase;
  color: $header-text-color;
  background: inherit;

  border: 1px solid $header-text-color;

  border-radius: 5px;

  padding-top: 14px;
  padding-bottom: 12px;
  width: 130px;

  margin-top: 46px;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 136px;
  }
}

.library-btn.active {
  background: $secondary-text-color;

  border: 1px solid $secondary-text-color;
}


.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  left: 6px;
  width: 15px;
  height: 15px;

  & .path {
    stroke: $secondary-text-color;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
