.modal-window {
  position: absolute;
  display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;

  background: #ffffff;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 280px;
    height: 95%;
  }
  @media screen and (min-width: 768px) {
    max-width: 620px;
    // flex-basis: calc((100% - 2 * 30px) / 2);
    // margin: 15px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 880px;
  }
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;

  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;

  border-style: none;
  cursor: pointer;

  background-color: $primary-bg-color;
}

.modal-wraper {
  padding: 50px 20px 40px 20px;
  @media screen and (min-width: 768px) {
    padding: 40px 30px;
    display: flex;
    // flex-basis: auto;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px 30px;
  }
}

.modal-movie-cover {
  margin-bottom: 30px;

  width: 240px;
  height: 356px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    width: 264px;
    height: 374px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 395px;
    height: 477px;
  }
}

.movie-content-wraper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.modal-movie-headline {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  color: $primary-text-color;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.modal-movie-stats-container {
  display: flex;
  margin-bottom: 20px;
}

.modal-movie-stats-titles {
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}

.modal-movie-stats-data {
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.modal-movie-stats-titles li:not(:last-child),
.modal-movie-stats-data li:not(:last-child) {
  margin-bottom: 10px;
}

.modal-movie-stats-data .vote {
  padding: 1px 10px;
  color: $primary-bg-color;
  text-align: center;
  background: $secondary-text-color;
  border-radius: 5px;
}

.modal-movie-stats-data .votes {
  padding: 1px 10px;

  text-align: center;
  background: $footer-bg-color;
  border-radius: 5px;
}

.txt2uppcase {
  text-transform: uppercase;
}

.modal-movie-about-headline {
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.modal-movie-about-descr {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
}

.modal-movie-btn-wraper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add2watch-btn {
  margin-right: 15px;
}

.add2watch-btn,
.add2queue-btn {
  width: 112px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  border: 1px solid $primary-text-color;
  box-sizing: border-box;
  border-radius: 5px;

  background: $primary-bg-color;
  &:hover {
    cursor: pointer;
    border: none;
    color: $header-text-color;
    text-align: center;
    background: $secondary-text-color;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.active-btn {
  border: none;
  color: $header-text-color;
  text-align: center;
  background: $secondary-text-color;
}

.vote {
  padding: 1px 10px;
  color: $primary-bg-color;
  text-align: center;
  background: $secondary-text-color;
  border-radius: 5px;
}
