$primary-text-color: #000000;
$secondary-text-color: #ff6b08;
$header-text-color: #ffffff;
$primary-bg-color: #ffffff;
$bg-color-header: rgba(0, 0, 0, 0.56);
$svg-color: #818181;
$footer-text-color: #545454;
$footer-bg-color: #f7f7f7;
