<footer>
  <div class="container">
    <p class="footer-text">
      <span class="footer-text-first-part"> &#169 2020 | All Rights Reserved | Developed with</span>
      <img src="./images/footer-heart.svg" alt="heart" class="footer-text-svg" />
      <span class="footer-text-second-part">by</span>
      <a href="#" class="footer-text-link">GoIT Students</a>
    </p>
  </div>

  <div class="backdrop container" data-modal>
    <div class="modal-footer wow fadeInDown">
      <button class="modal__close-btn" type="button" data-modal-close>
        <img src="./images/svg-footer/close.svg" alt="#" class="modal-footer__close-btn-icon" />
      </button>
    </div>

    <div class="our-team">
      <h2 class="our-team-title">Наша команда</h2>

      <ul class="team-list">
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Alex.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Alex.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Alex.jpg" media="(min-width: 320px)" />
            <img
              src="#"
              alt="Фото Александра"
              class="team__member-photo"
            />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Александр Москалик</h3>
            <p class="team-list__text">Frontend Developer</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Andrei.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Andrei.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Andrei.jpg" media="(min-width: 320px)" />
            <img src="./images/team/Andrei.jpg" alt="Фото Андрейя" class="team__member-photo" />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Франгу Андрей</h3>
            <p class="team-list__text">Frontend Developer</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Artem.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Artem.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Artem.jpg" media="(min-width: 320px)" />
            <img src="./images/team/Artem.jpg" alt="Фото Артема" class="team__member-photo" />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Хмелюк Артем</h3>
            <p class="team-list__text">Frontend Developer</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Slava.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Slava.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Slava.jpg" media="(min-width: 320px)" />
            <img
              src="./images/team/Slava.jpg"
              alt="Фото Вячеслава"
              class="team__member-photo"
            />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Козлов В'ячеслав</h3>
            <p class="team-list__text">Frontend Developer</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Vlad.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Vlad.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Vlad.jpg" media="(min-width: 320px)" />
            <img src="./images/team/Vlad.jpg" alt="Фото Влада" class="team__member-photo" />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Турченко Владислав</h3>
            <p class="team-list__text">Scrum Master</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <picture>
            <source srcset="./images/team/Elena.jpg" media="(min-width: 1024px)" />
            <source srcset="./images/team/Elena.jpg" media="(min-width: 768px)" />
            <source srcset="./images/team/Elena.jpg" media="(min-width: 320px)" />
            <img src="./images/team/Elena.jpg" alt="Фото Елены" class="team__member-photo" />
          </picture>

          <div class="team-list__container">
            <h3 class="team-list__title">Молостова Елена</h3>
            <p class="team-list__text">Team Lead</p>

            <ul class="social-network-list">
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/facebook.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/instagram.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/linkedin.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
              <li class="social-network-list__item">
                <a href="#" class="social-network-list__link">
                  <img src="./images/svg-footer/twitter.svg" alt="#" class="footer-text-svg" />
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
