<footer class="footer">
  <div class="container footer-container">
    <p class="footer-text">
      <span>&#169 2021 | All Rights Reserved |</span> 
        <span class="footer-text-next-line">
             Developed with
            <svg width="14" height="13" class="footer-text-svg">
                <use href="./images/footer-sprite.svg#icon-footer-heart"></use>
            </svg>
            <span class="footer-text-second-part">by
            <a href="" class="footer-text-link js-footer-text-link" data-modal-footer="open">GoIT Students</a></span>
        </span>
    </p>
  </div>

  <div class="backdrop  is-hidden js-backdrop-footer" data-modal="footer">
    <div class='modal-footer'>
  <button
    class='modal-footer__close-btn js-modal-footer__close-btn'
    type='button'
    data-modal-footer='close'
  >
   
    <svg width='30' height='30' viewBox='0 0 30 30'  xmlns='http://www.w3.org/2000/svg' class="modal-footer__close-btn-icon" >
      <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
      <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
    </svg>
  </button>

  <div class='our-team__container'>
    <h2 class='our-team-title'>Our Team</h2>

    <ul class='our-team__list'>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Alex.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Alex.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Alex.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Alex.jpg"alt='Фото Александра' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Москалик Александр</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/alex.moskalik' class='social-network-list__link' target = "blank">
                <svg class="social-network-list__icon social-network-list__icon--fill">
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/kJMChNDG9xV683u' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/alexmoskalik/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/in/%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80-%D0%BC%D0%BE%D1%81%D0%BA%D0%B0%D0%BB%D0%B8%D0%BA-aa47a7220/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Andrei.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Andrei.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Andrei.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Andrei.jpg" alt='Фото Андрейя' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Франгу Андрей</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/profile.php?id=100011280602054' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/explore' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/andrew_9308' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/in/andrew-frangu-31b2b1221/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Artem.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Artem.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Artem.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Artem.jpg" alt='Фото Артема' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Хмелюк Артем</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/profile.php?id=100003160390357 ' class='social-network-list__link'  target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/explore' class='social-network-list__link'  target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/' class='social-network-list__link'  target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/feed/' class='social-network-list__link'  target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Slava.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Slava.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Slava.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Slava.jpg" alt='Фото Вячеслава' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Козлов Вячеслав</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/kozlov.viacheslav' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/home' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/in/viacheslav-kozlov-51980014b/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Vlad.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Vlad.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Vlad.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Vlad.jpg" alt='Фото Влада' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Турченко Владислав</h3>
          <p class='team-list__text'>Scrum Master</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/profile.php?id=100007259407691' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/home' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/in/vlad-turchenko-831681165/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset="./images/team/Elena.jpg" media='(min-width: 1024px)' />
          <source srcset="./images/team/Elena.jpg" media='(min-width: 768px)' />
          <source srcset="./images/team/Elena.jpg" media='(min-width: 320px)' />
          <img src="./images/team/Elena.jpg" alt='Фото Елены' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Молостова Елена</h3>
          <p class='team-list__text'>Team Lead</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='https://www.facebook.com/profile.php?id=100019666261951' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://twitter.com/home' class='social-network-list__link ' target = "blank"> 
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.instagram.com/molostovaelena/' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='https://www.linkedin.com/in/елена-молостова-819206220' class='social-network-list__link' target = "blank">
                <svg
                    
                    class="social-network-list__icon social-network-list__icon--fill"
                  >
                    <use href="./images/footer-sprite.svg#icon-linkedin"></use>
                  </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
  </div>


  </div>
</footer>
