<footer class="footer">
  <div class="container footer-container">
    <p class="footer-text">
      <span>&#169 2020 | All Rights Reserved |</span> 
        <span class="footer-text-next-line">
            Developed with
            <img src="./images/footer-heart.svg" alt="heart" class="footer-text-svg" />
            <span class="footer-text-second-part">by
            <a href="#" class="footer-text-link js-footer-text-link" data-modal-footer="open">GoIT Students</a></span>
        </span>
    </p>
  </div>

  <div class="backdrop  is-hidden js-backdrop-footer" data-modal="footer">
    
    </div>


  </div>
</footer>
