<header class="header">
  <div class="container">
    <ul class="site-nav">
      <li>
        <a href="http://">
          <!-- <svg class="header-icon">
                <use href="./images/film.svg"></use>
              </svg> -->
          <svg
            class="header-icon"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.82 2H4.18A2.18 2.18 0 0 0 2 4.18v15.64A2.18 2.18 0 0 0 4.18 22h15.64A2.18 2.18 0 0 0 22 19.82V4.18A2.18 2.18 0 0 0 19.82 2ZM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5"
              stroke="#818181"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Filmoteka</a
        >
      </li>
      <li>
        <a href="http://">home</a>
      </li>
      <li>
        <a href="http://">my library</a>
      </li>
    </ul>

    <form class="search">
      <input type="search" name="search" autocomplete="off" placeholder="Поиск фильмов" />
      <button type="submit" class="search-film">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z"
            stroke="black"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.5 10.5002L8.32495 8.3252"
            stroke="black"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </form>
    <span class="smth-wrong">Search result not successful. Enter the correct movie name</span>

    <div class="header-library-btns">
      <button type="button" class="library-btn">watched</button>
      <button type="button" class="library-btn">queue</button>
    </div>
  </div>
</header>
