<div class="backdrop is-hidden" data-modal-movie>
    <div class="container">
        <div class="modal-window">
            <button class="modal-close-btn" type="button" data-modal-movie-close>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 8L22 22" stroke="black" stroke-width="2"/>
                    <path d="M8 22L22 8" stroke="black" stroke-width="2"/>
                </svg>
            </button>
            <div class="modal-wraper">
                <!-- <img class="modal-movie-cover" src="./images/empty.jpg" alt="empty">
                <div class="movie-content-wraper">
                    <h3 class="modal-movie-headline txt2uppcase">movie title</h3>
                    <div class="modal-movie-stats-container">
                        <ul class="modal-movie-stats-titles">
                            <li>Vote / Votes</li>
                            <li>Popularity</li>
                            <li>Original Title</li>
                            <li>Genre</li>
                        </ul>
                        <ul class="modal-movie-stats-data">
                            <li> 
                                <span class="vote">0.0</span>
                                <span class="modal-movie-stats-titles">/</span> 
                                <span class="votes">0000</span></li>
                            <li>000.0</li>
                            <li class="txt2uppcase">movie title</li>
                            <li>Genre name</li>
                        </ul>
                    </div>
                    <h4 class="modal-movie-about-headline txt2uppcase">About</h4>
                    <p class="modal-movie-about-descr">movie description</p> -->
                    <div class="modal-movie-btn-wraper">
                        <button class="add2watch-btn txt2uppcase js-modal-watched" type="button" data-modal-movie-watchedBtn>add to Watched</button>
                        <button class="add2queue-btn txt2uppcase js-modal-queue" type="button" data-modal-movie-queueBtn>add to queue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>