<div class="modal-window" data-modal-movie>
    <button class="modal-close-btn" type="button" data-modal-close>
        <svg width="30" height="30">
            <use href="../images/close.svg"></use>
        </svg>
    </button>
    <img class="modal-movie-cover" src="" alt="" width="240px" height="355px">
    <h3 class="modal-movie-headline">movie title</h3>
    <div class="modal-movie-stats-container">
        <div class="modal-movie-stats-titles">
            <p>Vote / Votes</p>
            <p>Popularity</p>
            <p>Original Title</p>
            <p>Genre</p>
        </div>
        <div class="modal-movie-stats-data">
            <p>0.0 / 0000</p>
            <p>000.0</p>
            <p>movie title</p>
            <p>genre name</p>
        </div>
    </div>
    <h4 class="modal-movie-about-headline">About</h4>
    <p class="modal-movie-about-descr">movie description</p>
    <div>
        <button class="add2watch-btn" type="button" data-modal-add2watch-btn>add to Watched</button>
        <button class="add2queue-btn" type="button" data-modal-add2queue-btn>add to queue</button>
    </div>
</div>